<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patrik.projekts2">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HMIR"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="HMIR"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccelerometerActivity"
            android:label="@string/title_activity_accelerometer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GyroscopeAcitivity"
            android:label="Gyroskop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ProximityActivity"
            android:label="Proximity senzor"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LightActivity"
            android:label="Light senzor"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CompassActivity"
            android:label="Compass senzor"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CameraActivity"
            android:label="Camera "
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
